body {
    background-color: lightsteelblue;
}

.app-header {
    height: 10vh;
    padding: 0 20px;
    background-color: lightseagreen;
}

.app-main {
    min-height: 85vh;
    background-color: lightskyblue;
    padding: 0 20px;
}

.app-footer {
    height: 5vh;
    background-color: lightseagreen;
}